.hero{

position:relative;

height:100vh;

overflow:hidden;

display:flex;

align-items:center;

padding-top:90px;

}

.hero-image{

position:absolute;

inset:0;

background-size:cover;

background-position:center right;

background-repeat:no-repeat;

transform:scale(1.05);

opacity: 0.86;

}

.hero-overlay{
    position:absolute;
    inset:0;
    background:
    linear-gradient(
        90deg,
        rgba(8,8,8,.72) 0%,
        rgba(8,8,8,.48) 38%,
        rgba(8,8,8,.18) 68%,
        rgba(8,8,8,.05) 100%
    );
}

.hero-wrapper{

position:relative;

z-index:5;

width:min(88%,1400px);

margin:auto;

display:grid;

grid-template-columns:42% 58%;

align-items:center;

height:100%;

}

.hero-left{

color:white;

max-width:620px;

}

.hero-tag{

display:inline-block;

letter-spacing:5px;

font-size:13px;

margin-bottom:24px;

color:#d7d7d7;

text-shadow:
        0 2px 15px rgba(0,0,0,.4);

}

.hero h1{

font-family:"Playfair Display";

font-size:78px;

font-weight:700;

line-height:1.05;

margin-bottom:28px;

max-width:700px;

color:#ffffff;

text-shadow: 0 4px 30px rgba(0,0,0,.45);

}

.hero p{

font-size:22px;

line-height:1.8;

margin-bottom:40px;

color:#ececec;

text-shadow:
        0 2px 15px rgba(0,0,0,.4);

}

.hero-buttons{

display:flex;

gap:22px;

flex-wrap:wrap;

}

.primary-btn{

background:#B08A55;

padding:18px 38px;

border-radius:999px;

font-size:16px;

font-weight:600;

color:white;

transition:.4s;

}

.primary-btn:hover{

transform:translateY(-4px);

box-shadow:0 20px 40px rgba(176,138,85,.4);

}

.secondary-btn{

background:transparent;

border:1px solid rgba(255,255,255,.5);

padding:18px 38px;

border-radius:999px;

color:white;

transition:.4s;

}

.secondary-btn:hover{

background:white;

color:#171717;

}

.scroll-indicator{

position:absolute;

bottom:35px;

left:50%;

transform:translateX(-50%);

display:flex;

flex-direction:column;

align-items:center;

color:white;

z-index:5;

}

.scroll-indicator span{

font-size:12px;

letter-spacing:4px;

margin-bottom:14px;

}

.mouse{

width:28px;

height:48px;

border:2px solid white;

border-radius:30px;

display:flex;

justify-content:center;

padding-top:8px;

}

.wheel{

width:5px;

height:10px;

background:white;

border-radius:10px;

animation:scroll 2s infinite;

}

@keyframes scroll{

0%{

transform:translateY(0);

opacity:1;

}

100%{

transform:translateY(16px);

opacity:0;

}

}

@media(max-width:768px){

.hero h1{

font-size:48px;

}

.hero p{

font-size:18px;

}

.hero-buttons{

flex-direction:column;

align-items:flex-start;

}

.primary-btn,
.secondary-btn{

width:100%;

}

}

/* .scroll-indicator{

position:absolute;

bottom:40px;

left:50%;

transform:translateX(-50%);

display:flex;

flex-direction:column;

align-items:center;

z-index:5;

color:white;

}

.scroll-indicator span{

font-size:12px;

letter-spacing:4px;

margin-bottom:12px;

}

.mouse{

width:28px;

height:46px;

border:2px solid white;

border-radius:30px;

display:flex;

justify-content:center;

padding-top:8px;

}

.wheel{

width:4px;

height:9px;

background:white;

border-radius:10px;

animation:scroll 2s infinite;

}

@keyframes scroll{

0%{

transform:translateY(0);

opacity:1;

}

100%{

transform:translateY(14px);

opacity:0;

}

} */